<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/erreur.css') }}">
    <title>Capteur de température</title>
</head>
<body>
    <h1>Erreur : Impossible de configurer le capteur</h1>
    <h2>Essayez une configuration manuelle</h2>
    <h3>Erreur retournée :{{erreur}}</h3>

    <form method="POST" action="/parametrage_avance">
        <label for="bus_i2c">Bus I2C:</label>
        <input type="text" id="bus" name="bus"><br>

        <label for="adresse">Adresse:</label>
        <input type="text" id="adresse" name="adresse"><br>

        <input type="submit" value="Configurer">
    </form>
</body>
</html>