<!DOCTYPE html>

<html>

<head>

  <link rel="stylesheet" href="{{ url_for('static', filename='style/interface.css') }}">
    <title>Capteur de température</title>
</head>
<body>
    {% if mode_veille %}
    <h1>Dernière température mesurée : <span id ="temperature">{{ temperature }}</span>°C</h1>
    {% else %}
    <h1>Température actuelle : <span id ="temperature">{{ temperature }}</span>°C</h1>
    {% endif %}
    
   <form method="POST" action="/mode_veille">
        {% if mode_veille %}
        <input type="submit" name="action" value="activer">
        <input type="submit" name="action" value="one-shot">
        {% else %}
        <input type="submit" name="action" value="desactiver">
        {% endif %}
    </form>

</body>

<script>
        setInterval(function() {
            // code pour récupérer la température et la mettre à jour dans la page
            var xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    document.getElementById("temperature").innerHTML = this.responseText;
                }
            };
            xhr.open("GET", "/temperature", true);
            xhr.send();
        }, 5000);
    </script>
</html>