/* Utiliser le modèle de boîte de bordure-box pour la mise en page */
html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Centrer le contenu principal verticalement et horizontalement */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f2f2f2;
}

/* Style pour le titre principal */
h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
  text-align: center;
  color: #333;
}

/* Style pour le formulaire */
form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* Style pour les boutons */
input[type="submit"] {
  font-size: 1.2rem;
  padding: 1rem 2rem;
  margin: 1rem;
  border: none;
  border-radius: 0.5rem;
  color: #fff;
  background-color: #333;
  cursor: pointer;
}

/* Style pour le bouton actif */
input[type="submit"]:active {
  background-color: #555;
}
